@charset "UTF-8";
.icon_soldout, .icon_pop {
  font-size: 12px;
  background: #000;
  color: #fff;
  padding: 2px 4px;
}

.icon_pop {
  background: #ff4300;
}

.icon_soldout {
  background: #ff005e;
}

.no-data {
  display: none;
}

body {
  transition: 0.2s;
}

body.dark {
  background: #111;
  color: #fff;
  /* @if $theme == 'dark' {
      background: #111;
      color: #fff;
  } @else {
      background: #fff;
      color: #333;
  } */
}
body.dark nav {
  background: #000;
}
body.dark a {
  color: #f0f0f0;
}

/* 상품 li */
/* center position */
.centerbox1200 {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 250px;
}

header .header_top {
  height: 190px;
  background: #313131;
}

header .hamburger {
  float: left;
  height: 45px;
  margin: 30px 0 0 110px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header .hamburger span {
  font-size: 40px;
}
header .hamburger span.sun {
  display: none;
  font-size: 35px;
}
header .hamburger span.moon {
  font-size: 35px;
}

header h1 {
  position: absolute;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
}

header .spotmenu {
  width: 500px;
  height: 50px;
  float: right;
  margin: 30px 110px 0 0;
}
header .spotmenu .login_before, header .spotmenu .login_after {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .spotmenu .login_after {
  display: none;
}

header .spotmenu a {
  color: #fff;
  height: 100%;
  padding: 0 7px;
  display: flex;
  align-items: center;
}

header .search_box {
  float: right;
  width: 265px;
  height: 42px;
  clear: both;
  margin: 0 110px 0 0;
  background: #fff;
  position: relative;
}

header .search_box input[type=text] {
  width: 220px;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

header .search_box input[type=image] {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
}

header nav {
  background: #fff;
}

header nav .gnb {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 57px;
  display: flex;
  justify-content: center;
}

header nav .gnb > li {
  height: 100%;
  font-size: 22px;
  position: relative;
}

header nav .gnb > li > a {
  display: flex;
  height: 100%;
  padding: 0 30px;
  align-items: center;
}

header nav .gnb li .lnb {
  background: #312f2d;
  position: absolute;
  padding: 20px 0;
  width: 160%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 7;
}

header nav .gnb li .lnb.on {
  background: none;
}

header nav .gnb li .lnb li {
  font-size: 18px;
  text-align: center;
}

header nav .gnb li .lnb li a {
  color: #fff;
  padding: 20px 50px;
  display: block;
}

header nav .gnb li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid #313131;
  top: 50%;
  transform: translateY(-50%) rotate(-360deg);
  border-top: 5px solid red;
  left: -20px;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

header nav .gnb li:hover:before {
  transform: translateY(-50%) rotate(0deg);
  left: 0;
  opacity: 1;
}

header nav .gnb li .lnb li {
  position: relative;
}

header nav .gnb li .lnb li:before {
  left: 20px;
  border: 4px solid #fff;
  opacity: 0.2;
  transition: 0.3s;
}

header nav .gnb li .lnb li:hover:before {
  left: 30px;
  opacity: 0.8;
}

header .lnb_bg {
  position: absolute;
  width: 100%;
  background: #312f2d;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 3;
}

header .lnb_bg.on {
  opacity: 1;
  visibility: visible;
}

header nav .gnb li .lnb.on li:before {
  left: 30px;
}

#visual {
  height: 650px;
  background: #c2d1d6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#visual .swiper-slide .text_box {
  position: absolute;
  width: 720px;
  height: 420px;
  z-index: 7;
  left: 50%;
  top: 140px;
  transform: translateX(-100%);
  text-align: left;
}

#visual .swiper-slide .text_box strong {
  font-size: 60px;
  font-weight: lighter;
  color: #343633;
  display: block;
  opacity: 0;
}

#visual .swiper-slide .text_box strong span {
  font-weight: bold;
}

#visual .swiper-slide .text_box .small {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
  margin-top: 30px;
  opacity: 0;
}

#visual .swiper-slide .text_box a {
  display: inline-block;
  border: 1px solid #000;
  padding: 15px 35px;
  margin-top: 70px;
  opacity: 0;
}

#visual .swiper-slide .text_box.on strong {
  animation: text_ani 1s forwards;
  animation-delay: 0s;
}

#visual .swiper-slide .text_box.on .small {
  animation: text_ani 1s forwards;
  animation-delay: 0.5s;
}

#visual .swiper-slide .text_box.on a {
  animation: text_ani 1s forwards;
  animation-delay: 1s;
}

@keyframes text_ani {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* section1 */
#section_box > section {
  padding: 140px 0;
}

#section_box h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
#section_box h2 span {
  padding: 5px 10px;
  display: inline-block;
  position: relative;
}
#section_box h2 span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  left: -4px;
  top: -4px;
}

#section_box #section1 .cont {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#section_box #section1 .cont li {
  border: 0px solid red;
  border-radius: 5px;
  width: 21%;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}
#section_box #section1 .cont li a {
  display: flex;
  flex-direction: column;
}
#section_box #section1 .cont li a img {
  width: 100%;
  margin-bottom: 20px;
}
#section_box #section1 .cont li a strong {
  font-size: 16px;
  margin-bottom: 10px;
}
#section_box #section1 .cont li a .icon_box {
  margin-bottom: 10px;
}
#section_box #section2 .centerbox1200 {
  background: #c2d1d6;
  padding: 30px 70px;
}
#section_box #section2 h2 {
  text-align: center;
}
#section_box #section2 h2 span {
  background: #efefef;
  font-size: 30px;
  padding: 5px 20px;
}
#section_box #section2 h2 span em {
  font-style: normal;
  color: red;
}
#section_box #section2 h2 span:before {
  display: none;
}
#section_box #section2 .cont .swiper-slide {
  border: 0px solid white;
  border-radius: 5px;
  width: 21%;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  height: 195px;
}
#section_box #section2 .cont .swiper-slide a {
  display: flex;
  flex-direction: column;
}
#section_box #section2 .cont .swiper-slide a .spec {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: 0.2s;
}
#section_box #section2 .cont .swiper-slide a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
}
#section_box #section2 .cont .swiper-slide a:hover .spec {
  opacity: 1;
}
#section_box #section2 .cont .swiper-slide a:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#section_box #section2 .cont .swiper-slide a img {
  width: 100%;
  margin-bottom: 20px;
}
#section_box #section2 .cont .swiper-slide a strong {
  font-size: 16px;
  margin-bottom: 10px;
}
#section_box #section2 .cont .swiper-slide a .icon_box {
  margin-bottom: 10px;
}
#section_box #section3 .cont {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#section_box #section3 .cont li {
  border: 0px solid blue;
  border-radius: 5px;
  width: 21%;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}
#section_box #section3 .cont li a {
  display: flex;
  flex-direction: column;
}
#section_box #section3 .cont li a img {
  width: 100%;
  margin-bottom: 20px;
}
#section_box #section3 .cont li a strong {
  font-size: 16px;
  margin-bottom: 10px;
}
#section_box #section3 .cont li a .icon_box {
  margin-bottom: 10px;
}
#section_box #section3 .cont li a p.price span {
  color: red;
}
#section_box #section5 .cont {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#section_box #section5 .cont li {
  border: 0px solid blue;
  border-radius: 5px;
  width: 21%;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  width: 30%;
}
#section_box #section5 .cont li a {
  display: flex;
  flex-direction: column;
}
#section_box #section5 .cont li a img {
  width: 100%;
  margin-bottom: 20px;
}
#section_box #section5 .cont li a strong {
  font-size: 16px;
  margin-bottom: 10px;
}
#section_box #section5 .cont li a .icon_box {
  margin-bottom: 10px;
}
#section_box #section5 .cont li a p.price span {
  color: red;
}
footer {
  padding: 50px 0;
  background: #313131;
  color: #f0f0f0;
}

footer a {
  color: #f0f0f0;
}

footer .centerbox1200 { /* background: pink; */
  display: flex;
  flex-direction: column;
}

footer .centerbox1200 .footerlogo {
  width: 305px;
  height: 100px; /* background: blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .centerbox1200 .footercontent {
  width: 100%;
  height: 150px; /* background: firebrick; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recent_prod {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  margin-left: 700px;
  background: #000;
}
.recent_prod ul {
  padding: 10px 10px 0 10px;
}
.recent_prod li {
  margin-bottom: 10px;
}
.recent_prod li:last-child {
  margin-bottom: 0;
}
.recent_prod img {
  width: 100%;
}
.recent_prod span {
  color: #fff;
  font-size: 40px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}/*# sourceMappingURL=main2.css.map */